.vh-100 {
	height: 100vh;
}

.h-100 {
	height: 100%;
}

.w-100 {
	width: 100%;
}

.theme--dark.v-btn.v-btn--disabled.v-btn--has-bg {
	background-color: #737373 !important;
}

.custom .v-text-field__details {
	display: none !important;
}

.editor-widget.suggest-widget {
	display: none !important;
}
