.vh-100 {
	height: 100vh;
}

.h-100 {
	height: 100%;
}

.w-100 {
	width: 100%;
}

.theme--dark.v-btn.v-btn--disabled.v-btn--has-bg {
	background-color: #737373 !important;
}

.custom .v-text-field__details {
	display: none !important;
}

.editor-widget.suggest-widget {
	display: none !important;
}

.theme--dark .tree-arrow.has-child:after {
	border: 1.5px solid white;
	border-left: 0;
	border-top: 0;
}

.theme--dark .tree-node:not(.selected)>.tree-content:hover {
	background: #2b2f33;
}

.theme--dark .tree-node.selected>.tree-content {
	background: #3e444d;
}

.theme--dark .tree-dragnode {
	background: #000000;
	border-color: 1px solid black;
}

.card-transparent.v-card,
.card-transparent.v-card .v-list
{
	background-color: transparent !important;
}

.thin-outline {
	border: solid;
	border-color: rgba(0, 0, 0, 0.12) !important;
	border-width: thin;
}
.theme--dark .thin-outline {
	border-color: rgba(255, 255, 255, 0.12) !important;
}

.custom .v-list-item--link:before {
	background-color: transparent !important;
}
